<!DOCTYPE HTML>
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename =  'css/for_home.css')}}">
	<title>Home Page</title>
</head>

<body>

	<div id='title'>
	<h1>SURVEY FORM</h1>

</div>

<div id='log'>
	<a href="/login">login</a>
</div>
<h2>Introduction</h2>
<div id='para'><p>
		This is Very useful for Completed graduate Students. This Registration will help you for your career. You can register your Bio-data. This Project Is Created by <i><strong>Muthupandi</strong></i>  and Using Tools: <strong><i>Python, HTML, Css, MySQL.</i></strong>
		</p></div>
		<div id='lists'>
			<h2>Which Documents you want to Fill Form</h2>
			<ul id='list'>
				<li>All Markstaments</li>
				<li>Passport Size Photo</li>
				<li>Resume</li>
				<li>ID Proof</li>
			</ul>


		</div>
	
<div id='button'><a href="/form">Proceed a form</a></div>	
	<h2> Contact Us</h2>
<div id = contact>
	
	<p> 65/13, Kanadhasan theru,<br>Maruthupandiya Nagar<br>Karaikudi-630001<br>Tamilnadu.<br><span id='num'>7094178053</span><br>
	<span	id='mail'>muthupandi1123250@gmail.com</span></p>
	
</div>

</body>
</html>